/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


body {
    font-family: "Montserrat", serif;
    height: 100vh;
}

footer {
    height: 90px;
    background-color: #282828;

}

main {
    height: calc(100vh - 90px);
    background-color: #151922;
}

.row {
    display: flex;
}

.col-right {
    width: 55px;
    background-color: black;
    padding: 13px;
}

.col-right .logo {
    color: #ffffff;
}

.blogo {
    display: none;
}




/* Responsive Layout */

/* Desktop */

@media screen and (min-width: 992px) {

    .logo {
        display: none;
    }

    .blogo {
        display: block;
    }
    
}