/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Common */

img {
    max-width: 100%;
    display: block;
}

.bg-grey {
    color: #5c5c5c;
}

body {
    font-family: "Montserrat", serif;
    height: 100vh;
}


footer {
    height: 80px;
    background-color: #282828;

}

main {
    height: calc(100vh - 70px);
    background-color: #151922;
}

/* Nav */

nav {
    padding: 13px;
}

.col-left {
    width: 55px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.logo {
    padding-bottom: 20px;
}

.blogo  {
    display: none;
}

.menu-item {
    display: none;
}

.menu li {
    padding-bottom: 10px;
}









/* Responsive Layout */

/* Desktop */

@media screen and (min-width: 992px) {
    
    /* Menu bar */

   .col-left {
    width: 225px;
   }

   .blogo {
    display: block;
    padding-bottom: 25px;
    }

   .logo {
    display: none;
   }

   .menu img {
    width: 20%;
    display: inline-block;
   }

   .menu-item {
    padding-left: 10px;
    display: inline;
    color: #5c5c5c;
   }

   .menu li {
    display: flex;
    align-items: center;
   }




}
    



